
@model OA.WEB.Models.AccountModels.PasswordVM
@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

@*@model OA.WEB.Models.AccountModels.PasswordVM
    @{
        ViewData["Title"] = "ResetPassword";
        Layout = "~/Views/Shared/_LayoutTransaction2.cshtml";
    }*@
<head>
    <style>
        .intro-section1 {
  position: relative; }
            .intro-section1, .intro-section1 .container .row {
                height: 13vh;
                min-height: 50px;
                background-color: #01426a;
            }
    .intro-section:before {
        content: "";
        position: absolute;
        height: 10%;
        width: 100%;
        border-bottom-right-radius: 0px;
    }
    @*@media (max-width: 991.98px) {
      .intro-section:before {
        width: 100%; } }*@
  .intro-section1 h1 {
    font-size: 3rem;
    font-weight: 900;
    color: #fff; }
  .intro-section1 p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.1rem;
    max-width: 400px; }

    </style>
</head>
<div class="intro-section1" id="home-section">
    <div class="container">
        <div class="row contentcenterp ">
        </div>
    </div>
</div>

<div class="card" style="padding-top:30px;background-color:#e4f4fb">
    <div class="card-title">
        <div class="col-sm-12">
        </div>
    </div>
    <div class="card-body">
        <div class="row" style="align-content: center;">
            <div class="col-2"></div>
            <div class="col-8" style="background-color:white;padding: 10px;">
                <div style="padding:20px">
                    <form asp-controller="Account" asp-action="ChangePasswordConfirm" method="post">
                        <div class="row" style="padding:12px;background-color:white;font-size:small">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-10">
                                <div class="text-center">
                                    <h5><b>Change password</b></h5>
                                    <h7>Remember the password so that you can login later.</h7>
                                </div>
                                <div class="">
                                    <label>OLD PASSWORD</label>
                                    <br />
                                    <input asp-for="OldPassword" class="form-control" required type="password" placeholder="Enter your old  password">
                                </div>
                                <div class="form-group">
                                    <span asp-validation-for="OldPassword" style="color:yellow"></span>
                                </div>
                                <div class="">
                                    <label>NEW PASSWORD</label>
                                    <br />
                                    <input asp-for="Password" required type="password" class="form-control" placeholder="Enter your new password">
                                </div>
                                <div class="form-group">
                                    <span asp-validation-for="Password" style="color:yellow"></span>
                                </div>
                                <p style="color:red">@Html.DisplayFor(model => Model.Errormessage)</p>
                                <div class="form-group">
                                    @Html.HiddenFor(model => Model.UserID)
                                    @Html.HiddenFor(model => Model.BaseCode)
                                </div>
                                <div style="padding-top:30px;">
                                    <input type="submit" class="btn btn-block btn-primary" value="Submit">
                                </div>
                                <div class="form-group">
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <a href="/Account/ForgotPassword" style="color:red;text-align:right;font-size:13px">Forgot password?</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-1"></div>

                        </div>
                    </form>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</div>