@{
    ViewData["Title"] = "Mail Sent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <style>
        .intro-section1 {
  position: relative; }
            .intro-section1, .intro-section1 .container .row {
                height: 13vh;
                min-height: 50px;
                background-color: #01426a;
            }
    .intro-section:before {
        content: "";
        position: absolute;
        height: 10%;
        width: 100%;
        border-bottom-right-radius: 0px;
    }
    @*@media (max-width: 991.98px) {
      .intro-section:before {
        width: 100%; } }*@
  .intro-section1 h1 {
    font-size: 3rem;
    font-weight: 900;
    color: #fff; }
  .intro-section1 p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.1rem;
    max-width: 400px; }

    </style>
</head>
<div class="intro-section1" id="home-section">
    <div class="container">
        <div class="row contentcenterp ">
        </div>
    </div>
</div>

<div class="card" style="padding-top:30px;background-color:#e4f4fb">
    <div class="card-title">
        <div class="col-sm-12">
        </div>
    </div>
    <div class="card-body">
        <div class="row" style="align-content: center;">
            <div class="col-2"></div>
            <div class="col-8" style="background-color:white;padding: 10px;">

                <h2 style="color:red">Email has been sent </h2>
                <br />
                <p style="color:lawngreen">We have sent a mail with password resest link. Please check your email and click the link to reset your password.</p>

            </div>
            <div class="col-2"></div>
        </div>
    </div>
</div>